<!DOCTYPE html>
<html>
  <head>
    {% include global_head_tags.html %}
  </head>
  <body>
    <div id="page">
      {% include global_banner.html %}

      <!-- Main content area -->

      <div class="container main-content-container">
        <div class="row">
          <div class="span2">
            <img id="logo" src="/images/logo.png">
          </div>

          <div class="span10 main-content">
            {{ content }}
          </div>
        </div>
      </div>

    </div>
  </body>
</html>